<%= form_with model: @lote, local: true do |form| %>
    <div class="control">
        <%= form.label :numero_importacion %>
        <%= form.text_field :lote_number, required: true,
        :value => @default %>
    </div>

    <div class="control">
        <%= form.file_field :file , required: true,
        accept: "text/plain, .csv" %>
    </div>

    <%= form.submit 'Cargar Importación' %>
<% end %>