<style>
  body{
    background-image: url('/assets/background.jpg');
  }
</style>
<div class="columns center">
  <div class="column is-3-widescreen is-4-desktop is-6-tablet is-10-mobile">
    <div class="user-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :Correo, class: 'label' %>
          <div class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class: 'input', placeholder: 'ej@ejemplo.com' %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <%= f.label :Contraseña, class: 'label' %>
          <div class="control has-icons-left">
            <%= f.password_field :password, autocomplete: "current-password",
            class: 'input', placeholder: '*********' %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <%= f.check_box :remember_me %>
                Mantener iniciada la sesión
              </label>
            </div>
          </div>
        <% end %>

        <div class="field">
          <div class="control" style="text-align: center;">
            <%= f.submit "Iniciar Sesión", class: 'button is-link' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div> 