<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p><%= link_to 'Importaciones', lotes_path %></p>
<p><%= link_to 'Cargar importación', upload_lotes_path %></p>
<p><%= link_to 'Recepción', receptions_path %></p>
<p>Pedidos</p>

<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<p id="time"></p>
